@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

html,
body {
    width: 100%;
    min-height: 100%
}

body {
    font-family: Arial, "Noto Sans KR", sans-serif;
    color: #111;
    background: #fff
}

button,
input {
    font: inherit
}

button {
    border: 0;
    background: none;
    cursor: pointer
}